

#canvasbg{
  position: absolute;
  z-index: 0;
}

#canvasfg{
  position: absolute;
  z-index: 0;
}

#HUD{
  position: absolute;
  z-index: 0;
  left: 1010px;
}

@font-face {
    font-family: 'OptimusPrinceps';
    src: url('./OptimusPrinceps.ttf');
}