#joueurs{
  position: absolute;
  left: 1010px;
  width: 500px;
  height: 600px;
}

#stat{
  height:25px;
}

#canvasbg{
  position: absolute;
  z-index: 0;
}

#canvasfg{
  position: absolute;
  z-index: 0;
}

#canv{
  position: relative;
   width: 1000;
   height: 600;
}

.flotte {
float:left;
}

